<!DOCTYPE html>
<html xmlsn:th="http://www.thymeleaf.org" lang="pt-br">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="${eventoDTO.id != null ? 'Atualizar Evento' : 'Cadastro do Evento'}"></title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
	</head>
	<body class="container mt-5">
		<h2 class="container text-center" th:text="${eventoDTO.id != null ? 'Atualizar Evento' : 'Cadastro do Evento'}"></h2>
		
		<form th:action="${eventoDTO.id} != null ? @{/eventos/atualizar/{id} (id=${eventoDTO.id})} : @{/cadastrar/evento}" th:object="${eventoDTO}" method="post" class="mt-4">
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" name="_method" value="put" th:if="${eventoDTO.id} != null"/>
			
			<label for="nome" class="form-label">Nome do Evento:</label>
			<input type="text" th:field="*{nome}" class="form-control" required />
			<div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro</div> <br>
			
			<label for="descricao" class="form-label">Descrição do Evento:</label>
			<input type="text" th:field="*{descricao}" class="form-control" required />
			<div class="text-danger" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Erro</div> <br>
			
			<label for="data" class="form-label">Data do Evento:</label>
			<input type="datetime-local" th:field="*{data}" class="form-control" required />
			<div class="text-danger" th:if="${#fields.hasErrors('data')}" th:errors="*{data}">Erro</div> <br>
			
			<label for="local" class="form-label">Local:</label>
			<select th:field="*{localId}" class="form-select" required>
				<option value="">Selecione o local do evento</option>
				<option th:each="local : ${locais}" th:value="${local.id}" th:text="${local.nome}"></option>
			</select> <br><br>
			
			<div class="row container text-center">
				<div class="col-6">
					<button type="submit" class="btn btn-success sm-4" th:text="${eventoDTO.id} != null ? 'Salvar Alterações' : 'Cadastrar'"></button>
				</div>
				<div class="col-6">
					<a th:href="@{/eventos}" class="btn btn-primary sm-4">Lista de Eventos</a>
				</div>
			</div>
		</form>
	</body>
</html>