<!DOCTYPE html>
<html xmlsn:th="http://www.thymeleaf.org" lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<title>Cadastro do Local</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
	<head>
	<body class="container mt-5">
		<h2 class="container text-center">Cadastro do Local</h2>
		
		<form th:action="@{/cadastrar/local}" th:object="${localDTO}" method="post" class="mt-4">
			<input type="hidden" th:field="*{id}" />
			
			<label for="nome" class="form-label">Nome:</label>
			<input type="text" th:field="*{nome}" class="form-control" required />
			<div class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro</div> <br>
			
			<label for="endereco" class="form-label">Endereço:</label>
			<input type="text" th:field="*{endereco}" class="form-control" required />
			<div class="text-danger" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}">Erro</div> <br>			
			
			<label for="capacidade" class="form-label">Capacidade:</label>
			<input type="number" th:field="*{capacidade}" class="form-control" min="50" required/>
			<div class="text-danger" th:if="${#fields.hasErrors('capacidade')}" th:errors="*{capacidade}">Erro</div> <br>	
			
			<div class="row container text-center">
				<div class="col-6">
					<button type="submit" class="btn btn-success sm-4">Cadastrar</button>
				</div>
				<div class="col-6">
					<a th:href="@{/locais}" class="btn btn-primary sm-4">Lista de Locais</a>
				</div>
			<div>	
		</form>
	</body>
</html>